.logo {
    background-color: var(--main-white);
    font-size: 2rem;
    font-weight: 700;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    gap: 12px;

    ion-icon {
        font-size: 2.75rem;
        color: var(--main-dark);
        margin-top: 0;
    }

    > span {
        white-space: nowrap;
        color: var(--main-dark);
    }

    &.logo-dark {
        background-color: var(--main-dark);

        ion-icon {
            color: var(--main-white);
        }
        > span {
            color: var(--main-white);
        }
    }
}