#faq {
    position: relative;
    padding: 3.5rem 0;
    @media (min-width: 992px) {
        padding: 9rem 0;
    }

    .ellipse-87 {
        pointer-events: none;
        position: absolute;
        left: 50%;
        bottom: 1rem;
        transform: translateX(-50%);
        animation: eclipse87 6s ease infinite;

        @keyframes eclipse87 {
            0% {
                transform: translate(-50%, 0px);
            }
            33% {
                transform: translate(-45%, 20px);
                transform: scale(1.4);
            }
            66% {
                transform: translate(-55%, 20px);
                transform: scale(0.4);
            }
            100% {
                transform: translate(-50%, 0px);
            }
        }
        &::after {
            content: url('../images/ellipse-87.svg');
        }
    }

    .ellipse-89 {
        pointer-events: none;
        position: absolute;
        right: 15%;
        top: 17%;
        animation: eclipse89 10s ease infinite;

        @keyframes eclipse89 {
            0% {
                right: 15%;
                top: 17%;
            }
            33% {
                right: 19%;
                top: 12%;
                transform: scale(1.7);
            }
            66% {
                right: 17%;
                top: 19%;
                transform: scale(0.7);
            }
            100% {
                right: 15%;
                top: 17%;
            }
        }
        &::after {
            content: url('../images/ellipse-89.svg');
            width: 31px;
            height: 31px;
        }
    }

    .ellipse-90 {
        pointer-events: none;
        position: absolute;
        left: 40%;
        top: 5%;
        transform: translateX(-50%);
        animation: eclipse90 6s ease infinite;

        @keyframes eclipse90 {
            0% {
                right: 40%;
                top: 5%;
            }
            33% {
                right: 56%;
                top: 4%;
                transform: scale(2);
            }
            66% {
                right: 32%;
                top: 7%;
                transform: scale(0.3);
            }
            100% {
                right: 40%;
                top: 5%;
            }
        }
        &::after {
            content: url('../images/ellipse-90.svg');
            width: 31px;
            height: 31px;
        }
    }

    .ellipse-87, .ellipse-89, .ellipse-90 {
        transition: all 1s ease-in-out;
        @media (max-width: 992px) {
            display: none;
        }
    }
}
