#navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: var(--navbar-height);
    background-color: #fff;
    border-bottom: 1px solid rgba(102, 112, 128, 0.15);
    padding: 0 21px;
    z-index: 1;
    z-index: 99;
    transition: all 0.2s ease-in-out;
    flex-wrap: nowrap;

    @media (min-width: 768px) {
        padding: 0 48px;
    }
    @media (min-width: 1200px) {
        .rtl & {
            right: var(--sidebar-width);
        }
        .ltr & {
            left: var(--sidebar-width);
        }
    }
    @media (min-width: 1400px) {
        .has-radios-sidebar & {
            left: var(--sidebar-width);
        }
    }

    .toggle-sidebar & {
        right: calc(var(--sidebar-width) * 1);
        @media (min-width: 1200px) {
            right: 0;
        }
    }

    @media (max-width:767px) {
        .phone-fixed-dropdown {
            position: fixed;
            top: var(--navbar-height);
            left: 0;
            right: 0;
            width: 100%;
            margin-top: 0;
        }
    }
}

