.text-gray {
    color: var(--main-gray);
}

.text-dark {
    color: var(--main-dark);
}

.bg-light-orange {
    background-color: var(--bg-light-orange);
}

.bg-light-blue {
    background-color: var(--bg-light-blue);
}