#whyus {
    margin-top: 20px;
    padding: 23px 0;
    @media (min-width: 1200px) {
        margin-top: 49px;
        padding: 44px 0;
    }

    .whyus-cards {
        .whyus-card {
            @media (min-width: 992px) {
                padding: 20px;
            }
            @media (min-width: 575px) {
                padding: 11px;
            }
    
            p {
                font-size: 0.875rem;
                font-weight: 500;
                margin-bottom: 0rem;

                @media (min-width: 992px) {
                    font-size: 1.2rem;
                }

                @media (min-width: 1200px) {
                    font-size: 1.5rem;
                }
            }
        }
    }
}