.button, .primary-button, .secondary-button {
    border-radius: 21px;
    background: var(--button-bg);
    color: var(--main-white);
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    border: solid 1px var(--button-bg);
    transition: all .2s ease-in-out;
    white-space: nowrap;

    &:not(.no-hover):hover {
        background-color: var(--main-white);
        color: var(--button-bg);
    }

    @media (max-width:575px) {
        font-size: 12px;
    }
}

.button-red {
    --button-bg:#bb2d3b;
}
.primary-button {
    --button-bg:var(--green);
}

.secondary-button {
    --button-bg:var(--main-gray);
}
