.logo {
    background-color: var(--main-white);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 20px 28px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: max-content;
    user-select: none;

    ion-icon {
        font-size: 2rem;
        color: var(--main-dark);
        margin-top: 0;
    }

    > span {
        white-space: nowrap;
        color: var(--main-dark);
    }

    &.logo-dark {
        background-color: var(--main-dark);

        ion-icon {
            color: var(--main-white);
        }
        > span {
            color: var(--main-white);
        }
    }
}